<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/fontfile.css" rel="stylesheet">
    <title>aMail</title>
    <style>
        p {
            font-size: 200%;
        }
    </style>
</head>
<body>
    <center><p>메일을 전송했습니다!<br></p>
    <button style="width:200px;height:50px;font-size: large;background-color: skyblue;outline: none;" onclick="location.href='/'">홈</button><br><br>
    </center>
</body>
</html>