<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Puradak+Gentle+Gothic&display=swap" rel="stylesheet" />
        <link href="../static/css/main.css" rel="stylesheet" />
        <title>aMail</title>
    </head>
    <body>
        <div class="v2_2"><div class="name"></div>
        <span class="v2_4">aMail</span>
        <span class="v5_7"><button style="width:200px;height:50px;font-size: large;background-color: skyblue;" onclick="location.href='/login'">로그인</button></span>
        <div class="v9_3"></div><div class="v9_4"></div><div class="v9_14"></div><div class="v9_5"></div><div class="v9_11"></div>
        <span class="v9_12">Easy<br><br><br>To<br><br><br>Use</span>
        <span class="v9_13">Anyone<br><br><br>Can<br><br><br>Use</span>
        <span class="v9_15">Fast<br><br><br>To<br><br><br>Use</span>
        <span class="v9_16">About aMail</span></div>
<!--<span class="v5_7"><input type="button" value="로그인" style="width:200px;height:50px;font-size: large;background-color: skyblue;" onclick="location.href='/login'"></span>-->
    </body>
    
</html>
  