<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/fontfile.css" rel="stylesheet">
    <title>aMail</title>
    <style>
        p {
            font-size: 200%;
        }
    </style>
</head>
<body>
    <center><p>아이디(혹은 비밀번호)가 맞지 않습니다.<br>다시 시도해주세요.</p>
    <button style="width:200px;height:50px;font-size: large;background-color: skyblue;" onclick="location.href='/login'">돌아가기</button><br><br>
    </center>
</body>
</html>